.home_comp {
  background-color: rgb(20, 20, 20);
  width: 60vw;
  height: 40vw;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-top: 3em;
  border-radius: 1em;
  border: 0.35em solid rgb(30, 30, 30);
  font-family: "Vibur", sans-serif !important;
}

.home_comp h1 {
  padding-top: 1.25em;
  font-size: 2.5em;
}

.dropdown {
  width: 12em !important;
  display: inline-block;
  font-size: 1.5em;
  background-color: rgb(20, 20, 20) !important;
  color: white;
  padding: 0.5em;
  margin-top: 5em;
}

.selections {
  margin-top: 3em;
}

/* input[type="radio"] {
    width: 10em;
    height: 3em;
    border-radius: 15px;
    border: 2px solid #1FBED6;
    background-color: rgb(20, 20, 20) !important;
    -webkit-appearance: none; 
    -moz-appearance: none;
    display: inline-block !important;
    
  }
  
  input[type="radio"]:focus { 
    outline: none; 
  }
  
  input[type="radio"]:checked { 
    background-color: #1FBED6 !important;
  }
  
  input[type="radio"]:checked ~ span:first-of-type {
    color: white;
  }
  
  label span:first-of-type {
    position: relative;
    left: -80px;
    font-size: 15px;
    color: white;
  }
  
  label span {
    position: relative;
    top: -12px;
  } */
input[type="radio"][name="buttonGroup"] {
  display: none;
}
label {
  display: inline-block;
  padding: 0.2em;
  font-size: 1.4em;
  border: 1px solid skyblue;
  margin: 1em;
  border-radius: 1em;
  background-color: rgb(20, 20, 20);
  width: 10em;
  text-align: center;
}

label:hover {
    cursor: pointer;
}

/* Clicking a label will select its corresponding hidden radio button
     We can select that radio buttons sibling label and style it. */
input[type="radio"][name="buttonGroup"]:checked + label {
  background-color: skyblue;
}

.dropdown:hover {
  cursor: pointer;
}
