* {
  padding: 0;
  margin: 0;
}

body:before {

  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10;
  background: url("./assets/firewatch.jpg");
  background-position: center center !important;


}
